{#test-page.html.twig #}

  <div id="filter-container">
    <select id="country-select">
      <option value="">Seleccione un país</option>
    </select>
    <select id="state-select">
      <option value="">Seleccione una provincia</option>
    </select>
    <select id="city-select">
      <option value="">Seleccione una ciudad</option>
    </select>
  </div>
  <div id="map" style = "width: 100%; height: 100vh"></div>

{#test-page.html.twig #}
